*{
    font-family: system-ui;
}

*::-webkit-scrollbar {
    width: 0.35vw;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
    background: #888;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}

form.add{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5vw;
}

.toast{
    font-size: 1vw !important;
    width: 25vw !important;
    border-radius: 0.5vw !important;
    border: 0.1vw solid rgba(0,0,0,0.1)  !important;
    background-color: rgba(255, 255, 255, 1) !important;
}

html{
    background-color: #caf0f8;
    padding: 0;
    margin: auto;
}

body{
    background-color: #90e0ef;
    margin: auto;
    padding: 0;
}

.not-found{
    text-align: center;
    font-weight: bold;
    font-size: 1.25vw;
    padding: 50% 0;
}

a, a:hover{
    outline: none;
    border: none;
    text-decoration: none !important;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header{
    max-width: 100%;
    height: 4.5vw;
    display: flex;
    padding: 1% 5%;
    justify-content: space-between;
    align-items: center;
    background-color: #00b4d8;
    border-bottom: 0.05vw solid grey;
    z-index: 10;

    .left-side{
        width: 12%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo{
        background-image: url(/static/images/logo.png);   
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 25%;
        padding-bottom: 25%;
        border-radius: 100%;
    }

    .title{
        color: white;
        font-size: 1.2vw;
        font-weight: bold;
    }
    .right-side{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 20%;
        >.info, .info:focus{
            width: 2vw;
            height: 2vw;
            background-image: url(../images/info.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-color: inherit;
            border: none !important;
            outline: none !important;
        }
        >.download, >.exit{
            font-size: 1vw;
            padding: 2% 4%;
            color: white;
            border-radius: 0.8vw;
            line-height: 1.5vw;
        }
        >.exit{
            background-color: red;
            margin: 0 !important;
            input{
                background: inherit;
                border: none;
                outline: none;
                color: white;
            }
        }
    }
    .download, .header .download:hover{    
        text-decoration: none;
        border: none;
        outline: none;
        color: black;
        text-align: center;
        position: relative;


        

        >.cart-block{
            
            // background-color: #0077b6;
            // border: 1px solid #03045e;
            color: white !important;
            font-weight: bold;
            border-radius: 12px;
            font-size: 1vw;

            .cart{
                width: 35%;
                padding-bottom: 35%;
                margin: auto;
                background-image: url("/static/images/cart.png");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        .count{
            position: absolute;
            top: 0%;
            right: 0;
            padding: 10% 10% 0 10%;
            width: fit-content;
            background-color: red;
            height: 1.2vw;
            font-size: 0.9vw;
            line-height: 0.1vw;
            border-radius: 1vw;
            color: white;
            outline: none;
            border: none;
        }
    }
}


.main{
    max-width: 100%;
    padding: 0% 5%;
    flex: 1 0 auto;
    background-color: #90e0ef;

    >.title{
        font-size: 2vw;
        font-weight: 600;
        padding: 2vw 0px;
    }

    .items{
        // display: flex;
        // justify-content: space-between;
        // flex-wrap: wrap;
        // align-items: center;
        .wrapper{
            max-width: 100%;
            padding: 0 2%;
            background: inherit;
            border: none;
            .item{
                // width: 30%;
                background-color: #03045e;
                color: white;
                margin-bottom: 2vw;
    
                .photo{
                    width: 100%;
                    padding-bottom: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    position: relative;
                    
                    .name{
                        background-color: rgb(125, 54, 170);                    
                        color: white;
                        font-size: 1vw;
                        padding: 0.5vw 1.2vw;
                        line-height: 1.2vw;                 
                        text-align: center;
                        position: absolute;
                        left: 5%;
                        top: 5%;
                        font-weight: bold;
                        border-radius: 0.8vw;
                    }
    
                    .name.red{
                        color: red;
                    }
    
                    .discount{
                        color: white;
                        background: red;
                        position: absolute;
                        left: 5%;
                        bottom: 5%;
                        padding: 0.3vw 0.5vw;                    
                        text-align: center;
                        font-size: 0.8vw;
                        font-weight: bold;
                        border-radius: 0.7vw;
                        line-height: 1vw;
                    }

                    .deleted{
                        color: white;
                        background: red;
                        position: absolute;
                        right: 5%;
                        top: 5%;
                        padding: 0.5vw 1.2vw;
                        text-align: center;
                        font-size: 1vw;
                        border-radius: 0.8vw;
                        line-height: 1.2vw;
                    }
                }
    
                .title{
                    max-width: 100%;
                    margin: 1vw 0 0 1vw;
                    font-size: 1vw;
                    font-weight: 600;
                    line-height: 1.6vw;
                    position: relative;
                }

                .title-block{
                    display: flex;
                    justify-content: space-between;
                    width: 30%;
                    align-items: center;
                    margin: 1vw;
                    .title.red{
                        color: red;
                        display: inline-block;
                        margin: 0;
                    }
        
                    .title.old{
                        display: inline-block;
                        font-size: 0.7vw;
                        margin: 0;
                    }
                }
    
                
    
                .title.old:before{                
                    background: #f91155;                
                    content: "";
                    display: block;
                    height: 0.1vw;
                    position: absolute;
                    top: 50%;
                    transform: rotate(-12deg);
                    width: 100%;                
                }
    
                .content{
                    max-width: 100%;
                    padding: 0.75vw 1vw 0;                    
                    font-size: 0.75vw;
                    text-align: justify;
                    line-height: 0.9vw;
                    font-weight: 400;
                    height: 10vw;
                    overflow-y: auto;
                }
            }
        }
        
    }
}


.footer{
    max-width: 100%;
    height: 4vw;
    display: flex;
    padding: 0% 5%;
    justify-content: space-between;
    align-items: center;
    background-color: #00b4d8;
    border-top: 0.01vw solid grey;
    flex: 0 0 auto;
    z-index: 10;
    
    .text{
        color: white;
        font-size: 1vw;
        font-weight: bold;
    }

    .social{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 15%;

        a{
            width: 25%;    
        }

        div{
            width: 70%;
            padding-bottom: 70%;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
        
        .instagram{
            background-image: url(/static/images/inst.png);
        }

        .facebook{
            background-image: url(/static/images/facebook.png);
        }

        .twitter{
            background-image: url(/static/images/twitter.png);
        }
    }
}