{% load static %}
{% load sass_tags %}

{%block links%}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Greate  Ocean</title>
        <link rel="stylesheet" href="{% sass_src 'css/main.scss'%}">
        {%block styles%}
        {%endblock%}
    </head>
{%endblock%}

<body>
    {%block body%}
        <div class="wrapper">
            <div class="header">
                <a href="{%url 'main:index'%}" class="left-side">
                    
                        <div class="logo"></div>
                        <div class="title">Greate Ocean</div>
                    
                </a>
                
                <a href="#" class="download">
                    <div class="cart-block">
                        <div class="cart"></div>
                        <div>Корзина</div>
                    </div>
                    
                    {%if cart.len > 0%}
                        <div class="count">{{cart.len}}</div>
                    {%endif%}
                </a>        
            </div>
            <div class="main">
                {%block main%}
                
                {%endblock%}
            </div>
            <div class="footer">
                <div class="text">Лебедев Владислав</div>
                <div class="social">
                    <a href="#">
                        <div class="instagram"></div>
                    </a>
                    <a href="#">
                        <div class="facebook"></div>    
                    </a>
                    <a href="#">
                        <div class="twitter"></div>    
                    </a>
                </div>
            </div>
        </div>
        
    {%endblock%}
</body>