{% extends "base.html" %}
{%load static%}
{% load sass_tags %}

{%block main%}
    <div class="title">Рыбы</div>
          
        <div class="row row-cols-4 items" style="max-width: 100%;margin: 0 !important;">
            {%for item in data%}      
                        <div class="wrapper card col" onclick="openModal('myModal{{forloop.counter}}')">
                            <a class="item">                
                                <div class="photo" style="background-image: url({% if item.image %} {{item.image.url}} {% endif %});" title="{{item.name}}">                                        
                                    {%if item.discount > 0%}
                                        <div class="discount">-{{item.discount}}%</div>
                                        <div class="name">Скидка</div>
                                    {%endif%}
                                    {%if item.deleted%}
                                        <div class="deleted">Удалено</div>
                                    {%endif%}
                                </div>
                                {%if item.discount > 0%}
                                    <div class="title-block">
                                        <div class="title red">{{item.discount_price}} ₽</div>
                                        <div class="title old">{{item.price}} ₽</div>
                                    </div>
                                    
                                {%else%}
                                    <div class="title">{{item.price}} ₽</div>
                                {%endif%}                
                                <div class="title">{{item.name}}</div>
                                <div class="content">{{item.description}}</div>
                            </a>
                        </div>              
                        
                        <div class="modal fade" id="myModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-body">
                                    <div class="wrapper card col">
                                        <a class="item" href="{%url 'main:item_description' item.id%}">                
                                            <div class="photo" style="background-image: url({{item.image.url}});">                                        
                                                {%if item.discount > 0%}
                                                    <div class="discount">-{{item.discount}}%</div>
                                                    <div class="name">Скидка</div>
                                                {%endif%}
                                            </div>
                                            {%if item.discount > 0%}
                                                <div class="title-block">
                                                    <div class="title red">{{item.discount_price}} ₽</div>
                                                    <div class="title old">{{item.price}} ₽</div>
                                                </div>
                                                
                                            {%else%}
                                                <div class="title">{{item.price}} ₽</div>
                                            {%endif%}                
                                            <div class="title">{{item.name}}</div>
                                            <div class="content">{{item.description}}</div>
                                        </a>
                                    </div> 
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default btn-prev">Назад</button>
                                  <button type="button" class="btn btn-default btn-next">Вперед</button>
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                </div>
                              </div>
                            </div>
                        </div>
            {%endfor%}
        </div>        
        {%if add_block%}
            <div class="item"></div>
        {%endif%}        
    <!-- <div class="items">
        {%for item in data%}
            <a class="item" href="{%url 'main:item_description' item.id%}">
                <div class="photo" style="background-image: url({{item.image.url}});">                                        
                    {%if item.discount > 0%}
                        <div class="discount">-{{item.discount}}%</div>
                        <div class="name">Скидка</div>
                    {%endif%}
                </div>
                {%if item.discount > 0%}
                    <div class="title red">{{item.discount_price}} ₽</div>
                    <div class="title old">{{item.price}} ₽</div>
                {%else%}
                    <div class="title">{{item.price}} ₽</div>
                {%endif%}                
                <div class="title">{{item.name}}</div>
                <div class="content">{{item.description}}</div>
            </a>
        {%endfor%}        
        {%if add_block%}
            <div class="item"></div>
        {%endif%}
    </div> -->
{%endblock%}