{% extends "base.html" %}
{%load static%}
{% load sass_tags %}

{%block styles%}
    <link rel="stylesheet" href="{%static 'css/form.css'%}">
{%endblock%}

{%block main%}
<div class="login-root">
    <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
      <div class="loginbackground" style="padding-top: 20vw;">
        <div class="loginbackground-gridContainer">
          <div class="box-root flex-flex" style="grid-area: top / start / 8 / end;">
            <div class="box-root" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 4 / 2 / auto / 5;">
            <div class="box-root box-divider--light-all-2 animationLeftRight tans3s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 6 / start / auto / 2;">
            <div class="box-root box-background--blue800 animationRightLeft tans4s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 7 / start / auto / 4;">
            <div class="box-root box-background--blue animationLeftRight" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 8 / 4 / auto / 6;">
            <div class="box-root box-background--gray100 animationLeftRight tans3s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 2 / 15 / auto / end;">
            <div class="box-root box-background--cyan200 animationRightLeft tans4s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 3 / 14 / auto / end;">
            <div class="box-root box-background--blue animationRightLeft" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 4 / 17 / auto / 20;">
            <div class="box-root box-background--gray100 animationRightLeft tans4s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 5 / 14 / auto / 17;">
            <div class="box-root box-divider--light-all-2 animationRightLeft tans3s" style="flex-grow: 1;"></div>
          </div>

          <div class="box-root flex-flex" style="grid-area: 9 / 18 / auto / 25;">
            <div class="box-root box-background--blue animationRightLeft" style="flex-grow: 1;"></div>
          </div>
        </div>
      </div>
      <div class="box-root flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9; padding-top: 5vw;">
        <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
          <h1 style="font-size: 2vw;"><a href="http://blog.stackfindover.com/" rel="dofollow">Добавить рыбу</a></h1>
        </div>
        <div class="formbg-outer">
          <div class="formbg">
            <div class="formbg-inner padding-horizontal--48">
              <span class="padding-bottom--15 error">{{error}}</span>
              <span class="padding-bottom--15 success">{{success}}</span>
              
              <form id="stripe-login" action="{%url 'main:item_add'%}" method="POST" enctype="multipart/form-data">{%csrf_token%}
                <div class="side">
                    <div class="field padding-bottom--24">
                        <label for="name">Имя</label>
                        <input type="text" name="name">
                    </div>
                    <div class="field padding-bottom--24">                  
                        <label for="description">Описание</label>                                      
                        <textarea type="text" name="description"></textarea>
                    </div>
                    <div class="field padding-bottom--24">                  
                        <label for="image">Фото рыбы</label>                                      
                        <input type="file"  name="image">
                    </div>
                </div>
                <div class="side">                    
                    <div class="field padding-bottom--24">                  
                        <label for="price">Цена</label>                                      
                        <input type="number" min="1" max="9999999" name="price">
                    </div>
                    <div class="field padding-bottom--24">                  
                        <label for="discount">Скидка в процентах</label>                                      
                        <input type="number" value="0" min="0" max="99" name="discount">
                    </div>
                    <div class="field padding-bottom--24">                  
                        <label for="height">Длинна рыбы(см)</label>                                      
                        <input type="number" min="1" max="100000" name="height">
                    </div>
                    <div class="field padding-bottom--24">                  
                        <label for="weight">Вес рыбы(кг)</label>                                      
                        <input type="number" min="1" max="100000" name="weight">
                    </div>
                </div>            
                <div class="field">
                  <input type="submit" name="submit" value="Добавить">
                </div>                                
              </form>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
    
{%endblock%}