{% extends "base.html" %}
{%load static%}
{% load sass_tags %}

{%block styles%}
    <link rel="stylesheet" href="{% sass_src 'css/item.scss'%}">
{%endblock%}

{%block main%}
    {%if not item%}
        <div class="not-found">Рыба не найдена!</div>
    {%else%}
        <div class="title">{{item.name}}</div>
        <div class="item-block">
            <div class="photo" style="background-image: url({{item.image.url}});"></div>
            <div class="info-block">
                <div class="attribute-block">
                    <div class="title">Описание</div>
                    
                    <div class="text">{{item.description}}</div>

                    <div class="item">
                        <div class="name">
                            <span>Имя</span>
                        </div>
                        <div class="value">{{item.name}}</div>
                    </div>
                    
                    <div class="item">
                        <div class="name">
                            <span>Длинна</span>
                        </div>
                        <div class="value">{{item.height}}см</div>
                    </div>
                    
                    <div class="item">
                        <div class="name">
                            <span>Вес</span>
                        </div>
                        <div class="value">{{item.weight}}кг</div>
                    </div>
                    
                   
                    
                </div>
                <div class="attribute-block">
                    {%if item.discount > 0%}
                        <div class="price red">{{item.discount_price}} ₽</div>
                        <div class="price old">{{item.price}} ₽</div>
                    {%else%}
                        <div class="price">{{item.price}} ₽</div>
                    {%endif%}
                    {%if cart_item.quantity > 0 %}
                        <div class="buy-block">
                            <a href="#" class="go-to-cart">
                                <div>Перейти в корзину</div>                                    
                            </a>
                            <div class="control-panel">
                                <div class="minus"></div>
                                <div class="count">1</div>
                                <div class="add"></div>
                            </div>
                        </div>
                    {%else%}
                        <div class="buy">Добавить в корзину</div>
                    {%endif%}
                </div>
                {%if item.deleted%}
                    <div class="attribute-block">
                        <div class="buttons"> 
                            <form class="edit" action="{%url 'main:item_recover' item.id%}" method="post">{%csrf_token%}
                                <input type="submit"  value="Восстановить">
                            </form> 
                            <form class="delete" action="{%url 'main:item_delete' item.id%}" method="post">{%csrf_token%}
                                <input type="submit"  value="Удалить">
                            </form>                            
                        </div>
                    </div>
                {%elif has_permission%}
                    <div class="attribute-block">
                        <div class="buttons">
                            
                            <a class="edit" href="{%url 'main:item_edit' item.id%}">
                                <div >Редактировать</div>
                            </a>
                            
                            <form class="delete" action="{%url 'main:item_delete' item.id%}" method="post">{%csrf_token%}
                                <input type="submit"  value="Удалить">
                            </form>
                            
                        </div>
                    </div>                                                   
                {%endif%}
            </div>            
        </div>
        <div class="comments-block" id="comments_block">
            <div class="title">Комментарии</div>
            {%if not current_user%} 
                <div class="sign-in">
                    <a href="{%url 'main:login'%}">Войдите</a>
                    <span>чтобы оставлять коментарии</span>
                </div>
            {%endif%}
            {%if item.comments.all|length > 0%}
                <div class="comments">
                    {%for comment in item.comments.all%}
                        <div class="comment">
                            <div class="photo"></div>
                            <div class="content-block {%if current_user.role == 'admin'%}delete-comment{%endif%}">
                                <div class="title-block">                                    
                                    <div class="user">{{comment.user.login}}</div>
                                    <div class="created-at">{{comment.created_at|date:'Y-m-d H:i'}}</div>
                                </div>
                                <div class="text-block">
                                    {{comment.text|linebreaks}}
                                </div>
                            </div>
                            {%if current_user.role == "admin"%}
                                <form action="{% url 'main:delete_comment' comment.id%}" class="delete-form" method="post">{%csrf_token%}
                                    <button type="submit" class="delete" title="Удалить коментарий"></button>    
                                    <input type="hidden" name="next" value="{{ request.path }}">                                
                                </form>                                
                            {%endif%}
                        </div>
                    {%endfor%}
                </div>
            {%else%}
                <div class="no-comments">Пока что нет комментариев!</div>
            {%endif%}
            {%if current_user%}
                <form method="post" action="{%url 'main:send_comment' item.id%}" class="leave-comment-block">{%csrf_token%}
                    <input name="text" type="text" class="text">
                    <input type="submit" class="send">
                </form>
            {%endif%}
        </div>
    {%endif%}
    
    
{%endblock%}